<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
// Initialize Firebase
var config = {
    apiKey: "AIzaSyCwgf7Aa2sma4E5d8XKh-lOwrcKVkkDOoA",
    authDomain: "ewf-nh.firebaseapp.com",
    databaseURL: "https://ewf-nh.firebaseio.com",
    projectId: "ewf-nh",
    storageBucket: "",
    messagingSenderId: "1056076336153"
};
firebase.initializeApp(config);
</script>
<span class="top-space"></span>
<div class="nav-spacing">
    <md-toolbar class="bottom-nav">
        <button md-button [routerLink]="['/posts']" routerLinkActive="active">
            <md-icon class="dark"> POSTS </md-icon>
        </button>
        <button md-button [routerLink]="['/people']" routerLinkActive="active">
            <md-icon class="dark"> PEOPLE </md-icon>
        </button>
        <button md-button [routerLink]="['/projects']" routerLinkActive="active">
            <md-icon class="dark"> PROJECTS </md-icon>
        </button>
    </md-toolbar>
    <div class="navbar">
        <md-toolbar class="main-nav">
            <!-- <button md-button [routerLink]="['/home']" routerLinkActive="active">
            <md-icon class="dark"> HOME </md-icon>
        </button> -->
        <button md-button class="btn-3" *ngIf="loggedIn" [routerLink]="['/profile', user.uid]" routerLinkActive="active">
            <md-icon class="dark"> PROFILE </md-icon>
        </button>
        <button md-button [routerLink]="['/posts']" routerLinkActive="active">
            <md-icon class="dark"> POSTS </md-icon>
        </button>
        <button md-button [routerLink]="['/people']" routerLinkActive="active">
            <md-icon class="dark"> PEOPLE </md-icon>
        </button>
        <button md-button [routerLink]="['/projects']" routerLinkActive="active">
            <md-icon class="dark"> PROJECTS </md-icon>
        </button>
        <button md-button style="float:right;">
            <md-icon class="dark">
                <span *ngIf="!loggedIn; else logswitch" (click)="login()">LOGIN / SIGNUP</span>
                <ng-template #logswitch> <span (click)="logout()">LOGOUT </span> </ng-template>
            </md-icon>
        </button>
        <button md-button style="float:right;" [routerLink]="['/contact']" routerLinkActive="active">
            <md-icon class="dark"> CONTACT </md-icon>
        </button>
    </md-toolbar>
</div>
</div>
