<div class="container">
    <div class="row">
        <h1>Find other engineers</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <friends-list [dSource]="dSource" [followerList]="followers" [followingList]="following"></friends-list>
        </div>
        <div class="col-12 col-md-8">
            <div class="user-search">
                <md-input-container>
                    <input mdInput #name placeholder="Search users" />
                </md-input-container>
                <button md-raised-button (click)="onSearchUserByName(name.value)">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
            </div>
            <div class="user-cards">
                <div *ngFor="let user of userStore.users | async">
                    <md-card class="user-card" *ngIf="this.userID != user.uid" [routerLink]="['/people', user.uid]" routerLinkActive="active">
                        <md-card-header>
                            <img class="profile-pic" src="{{ user.photoUrl }}" />
                            <md-card-title>{{ user.name }}</md-card-title>
                        </md-card-header>
                        <md-card-content>
                            <ul>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}
                                </li>
                                <li *ngIf="user.gitUsername">
                                    <i class="fa fa-github" aria-hidden="true"></i> {{user.gitUsername}}
                                </li>
                            </ul>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>