<div>
<form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name"
              [(ngModel)]="userModel.name" name="name">
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input type="text" id="email"
              [(ngModel)]="userModel.email" name="email">
    </div>

    <div class="form-group">
      <label for="gitUsername">gitUsername</label>
      <input type="text" id="gitUsername"
              [(ngModel)]="userModel.gitUsername" name="gitUsername">
      <a href="https://github.com/{{userModel.gitUsername}}"> git link </a>
    </div>

    <button class="btn btn-success" (click)="updateProfile()">Submit</button>
  </form>

  <div> Posts </div>
  <md-card *ngFor="let post of _posts | async" style="margin-bottom:20px;">
                <img md-card-image src="../../../assets/cat.png" style="width:20px;height:20px;"/>
                <md-card-title>{{post.$key }}</md-card-title>
                <md-card-subtitle>{{post.author}}</md-card-subtitle>
                <md-card-content>{{post.content}}</md-card-content>
            </md-card>

  <div> projects </div>

  <md-card *ngFor="let project of _projects | async" style="margin-bottom:20px;">
      <img md-card-image src="../../../assets/cat.png" style="width:20px;height:20px;"/>
      <md-card-title>{{project.$key }}</md-card-title>
      <md-card-subtitle>{{project.author}}</md-card-subtitle>
      <md-card-content>{{project.content}}</md-card-content>
  </md-card>
</div>
<!--

<p>
  {{ _user.age }}
</p>

<p>
  {{ _user.school }}
</p>

<p>
  {{ _user.job }}
</p>

<p>
  {{ _user.location }}
</p>
-->
