<div class="container">
    <div class="row profile-top">
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <md-card class="example-card">
                <div class="profile-image">
                    <img class="main-profile-pic" src="{{userProfile.photoUrl}}" />
                </div>
                <div class="profile-image-two">

                </div>
                <md-card-content>
                    <h2>{{userProfile.name}}</h2>
                    <ul>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i> {{userProfile?.email}}
                        </li>
                        <li>
                            <i class="fa fa-github" aria-hidden="true"></i> {{userProfile?.gitUsername}}
                        </li>
                    </ul>
                </md-card-content>
            </md-card>
            <!-- <friends-list></friends-list> -->
        </div>

        <div class="col-12 col-md-8">
            <md-tab-group>
                <md-tab label="Posts">
                    <md-card *ngFor="let post of _posts | async" style="margin-bottom:20px;">
                        <md-card-title>{{post.title }}</md-card-title>
                        <md-card-subtitle>{{post.author}}</md-card-subtitle>
                        <md-card-content>{{post.content}}</md-card-content>
                    </md-card>
                </md-tab>
                <md-tab label="Projects">
                    <md-card *ngFor="let project of _projects | async" style="margin-bottom:20px;">
                        <md-card-title>{{project.title }}</md-card-title>
                        <md-card-subtitle>{{project.author}}</md-card-subtitle>
                        <md-card-content>{{project.content}}</md-card-content>
                    </md-card>
                </md-tab>
            </md-tab-group>
        </div>

    </div>
</div>
