<div class="container">
    <div class="row profile-top">
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <md-card class="example-card">
                <div class="profile-image">
                    <img class="main-profile-pic" src="{{userProfile.photoUrl}}" />
                </div>
                <div class="profile-image-two">

                </div>
                <md-card-content>
                    <h2>{{userProfile.name}}</h2>
                    <ul>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i> {{userProfile?.email}}
                        </li>
                        <li>
                            <i class="fa fa-github" aria-hidden="true"></i> {{userProfile?.gitUsername}}
                        </li>
                    </ul>
                    <button class="fullwidth-btn" *ngIf="!isFollowing" md-raised-button (click)="followUser()">Follow</button>
                    <button class="fullwidth-btn" *ngIf="isFollowing" md-raised-button (click)="unfollowUser()">Unfollow</button>
                </md-card-content>
            </md-card>
            <md-card class="example-card">
                <md-card-title>
                    <h3>Send A Message</h3>
                </md-card-title>
                <md-card-content>
                    <ul class="message-box">
                        <li *ngFor="let message of _messages | async">
                            <div *ngIf="message.recipient != this._userID" class="speech-bubble-out">
                                <div>{{message.text}}</div>
                            </div>
                            <div *ngIf="message.recipient == this._userID" class="speech-bubble-in">{{message.text}}</div>
                            <!-- <br> -->
                        </li>
                    </ul>
                    <form class="postForm">
                        <md-input-container class="form-full-width">
                            <textarea mdInput required placeholder="Your Message" #messageContent></textarea>
                        </md-input-container>
                        <button class="fullwidth-btn" md-raised-button (click)="sendMessage(messageContent.value); messageContent.value='';">
                            Send
                        </button>
                    </form>
                </md-card-content>
            </md-card>
            <friends-list [dSource]="dSource"
            [followerList]="_followers"
            [followingList]="_following"></friends-list>
        </div>

        <div class="col-12 col-md-8">
            <md-tab-group>
                <md-tab label="Posts">
                    <div *ngFor="let post of _posts | async">
                        <div class="post-top">
                            {{post.timestamp | date: 'EEEE M/d HH:mm'}}
                        </div>
                        <md-card style="margin-bottom:20px;">
                            <md-card-title>{{post.title }}</md-card-title>
                            <md-card-subtitle>{{post.author}}</md-card-subtitle>
                            <md-card-content>{{post.content}}</md-card-content>
                        </md-card>
                    </div>
                </md-tab>
                <md-tab label="Projects">
                    <div *ngFor="let project of _projects | async">
                        <div class="post-top">
                            {{project.timestamp | date: 'EEEE M/d HH:mm'}}
                        </div>
                        <md-card style="margin-bottom:20px;">
                            <md-card-title>{{project.title }}</md-card-title>
                            <md-card-subtitle>{{project.author}}</md-card-subtitle>
                            <md-card-content>{{project.content}}</md-card-content>
                        </md-card>
                    </div>
                </md-tab>
            </md-tab-group>
        </div>

    </div>
</div>
