<div class="container">
    <div class="row">
        <h1>Nerd projects</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4 submit-project-card">
            <!-- <profile-box></profile-box> -->
            <md-card>
                <md-card-title>
                    <h3>Add a new project</h3>
                </md-card-title>
                <md-card-content>
                    <form class="projectForm">
                        <table>
                            <tr>
                                <td>
                                    <md-input-container class="title">
                                        <input mdInput required placeholder="Title" #titleContent>
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-select class="projectTypeSelect" placeholder="Category" #categoryContent>
                                        <md-option *ngFor="let type of projectTypes" [value]="type.value">
                                            {{ type.viewValue }}
                                        </md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </table>
                        <md-input-container class="form-full-width">
                            <textarea mdInput required placeholder="Your Message" #projectContent></textarea>
                        </md-input-container>
                        <button md-raised-button (click)="project(titleContent.value, projectContent.value, categoryContent.selected.value); 
                                                                    titleContent.value =''; projectContent.value ='';">
                            Create Project
                        </button>
                    </form>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-12 col-md-8 col-lg-8">
            <div class="project-search" style="display: flex">
                <md-select id="searchOptionType" class="radius" placeholder="Search Type" [(ngModel)]="selectedProjectSearchValue">
                    <md-option *ngFor="let type of projectSearchOptions" [value]="type.value">
                        {{ type.viewValue }}
                    </md-option>
                </md-select>
                <!-- <div class="searchInput" *ngIf="selectedProjectSearchValue !== 'searchOption_Distance'"> -->
                <div [style.display]="(selectedProjectSearchValue !== 'searchOption_Distance') ? '' : 'none' " style="float:middle;">
                    <md-input-container class="searchInput">
                        <input mdInput #searchText placeholder="Search projects" />
                    </md-input-container>
                </div>
                <!-- <div *ngIf="selectedProjectSearchValue === 'searchOption_Distance'"> -->
                <div [style.display]="(selectedProjectSearchValue === 'searchOption_Distance') ? '' : 'none' ">
                    <md-select class="radius" placeholder="Radius" [(ngModel)]="selectedProjectSearchRadius">
                        <md-option *ngFor="let rad of projectRadiusSearch" [value]="rad.value">
                            {{ rad.viewValue }}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div class="category-select-container">
                <div id="projectButtonsArray" *ngFor="let projectCatButton of projectButtonsArray">
                    <div class="circle" id="{{projectCatButton.id}}" (click)="setCategory(projectCatButton)">
                        <i class="fa fa-{{projectCatButton.iconType}} fa-2x" aria-hidden="true"></i>
                        <div class="category-text">{{ projectCatButton.category }} </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selectedProjectSearchValue !== 'searchOption_Distance'">
                <!-- <div [style.visibility] = "(selectedProjectSearchValue !== 'searchOption_Distance') ? 'visible' : 'hidden' "> -->
                <button class="searchBtn" md-raised-button (click)="handleProjectSearch(selectedProjectSearchValue, searchText?.value)">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
            </div>
            <div *ngIf="selectedProjectSearchValue === 'searchOption_Distance'">
                <button class="searchBtn" md-raised-button (click)="handleProjectSearch(selectedProjectSearchValue, '')">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </button>
            </div>
            <div *ngFor="let project of projects | async">
                <div class="project-top">
                    {{project.timestamp | date: 'EEEE M/d HH:mm'}}
                </div>
                <md-card color="primary" class="projectCard">
                    <img md-card-image src="../../../assets/cat.png" style="width:20px;height:20px;" />
                    <md-card-title>{{project.title}}</md-card-title>
                    <md-card-subtitle>{{project.author}}</md-card-subtitle>
                    <md-card-content>{{project.content}}</md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>