.projectForm {
    margin-top: 50px;
    margin-bottom: 100px;
}

button {
    width: 100%;
    background-color: #1c313a;
    color: white;
}

.project-search {
    margin-bottom: 40px;
}

.searchBtn {
    margin-left: 20px;
    width: 50px;
}

.searchInput {
    width: 50%;
}
