/* Structure */
md-tab-group {
    height: 400px;
}

.friends-list-container {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-width: 300px;
    background: white;
}

.friends-list-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.friends-list-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}

.mat-input-container {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
}

.mat-table {
    overflow: auto;
}

h3 {
    text-align: center;
}

.profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    order: -1;
    margin-left: -10px;
    margin-top: -8px;
    margin-right: 20px;
}
