/* Structure */
.friends-list-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    min-width: 300px;
}

.friends-list-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
}

.friends-list-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}

.mat-input-container {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
}

.mat-table {
    overflow: auto;
}

h3 {
    text-align: center;
}
