<!-- Nav tabs -->
<article id="post-17" class="card card-raised card-blog post-17 status-publish format-standard has-post-thumbnail sticky hentry category-appearance tag-appearance tag-guide" style=" float: right;">
        <div class="col-sm-4 col-lg-4 form_field_wrap contact_subject_wrap pirate_forms_three_inputs  ">
                <label for="pirate-forms-contact-subject"></label>
                <input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject" required class="form-control" type="text" value="" placeholder="title" #titleContent>
        </div>
        <div class="col-sm-12 col-lg-12 form_field_wrap contact_message_wrap  ">
                <textarea #postContent id="pirate-forms-contact-message" name="pirate-forms-contact-message" required class="form-control" placeholder="Your message"></textarea>
        </div>
        <button (click)="post(titleContent.value, postContent.value); 
                                titleContent.value =''; 
                                postContent.value ='';" 
                                class="pull-right"> Post 
        </button>
</article>

<blog-post *ngFor="let post of posts | async"  
                [author]="post.author" [timeSince]="post.timestamp"
                [title]="post.title" [content]="post.content">
</blog-post>
                        
<!-- end nav tabs -->



<!-- 
<div class="col-lg-9 col-md-offset-3" style="width: 55%;">
	<article id="post-17" class="card card-raised card-blog post-17 status-publish format-standard has-post-thumbnail sticky hentry category-appearance tag-appearance tag-guide" style=" float: right;">
        <div class="col-sm-4 col-lg-4 form_field_wrap contact_subject_wrap pirate_forms_three_inputs  ">
                <label for="pirate-forms-contact-subject"></label>
                <input id="pirate-forms-contact-subject" name="pirate-forms-contact-subject" required class="form-control" type="text" value="" placeholder="title" #titleContent>
        </div>
        <div class="col-sm-12 col-lg-12 form_field_wrap contact_message_wrap  ">
                <textarea #postContent id="pirate-forms-contact-message" name="pirate-forms-contact-message" required class="form-control" placeholder="Your message"></textarea>
        </div>
        <button (click)="post(titleContent.value, postContent.value); titleContent.value =''; postContent.value ='';" class="pull-right"> Post </button>
    </article>
 </div>

<blog-post *ngFor="let post of posts | async" 
        [author]="post.author"
        [title]="post.title"
        [content]="post.content">
</blog-post>
-->