<div class="container">
    <div class="row">
        <h1>Nerd forum</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
            <!-- <profile-box></profile-box> -->
            <md-card class="submit-post-card">
                <md-card-title>
                    <h3>Share your thoughts</h3>
                </md-card-title>
                <md-card-content>
                    <form class="postForm">
                        <table>
                            <td>
                                <md-input-container class="form-full-width">
                                    <input mdInput required placeholder="Title" #titleContent>
                                </md-input-container>
                            </td>
                            <td>
                                <md-select class="form-full-width" placeholder="Category" #newPostCategory>
                                    <md-option *ngFor="let type of postTypes" [value]="type.value">
                                        {{ type.viewValue }}
                                    </md-option>
                                </md-select>
                            </td>
                        </table>
                        <md-input-container class="form-full-width">
                            <textarea mdInput required placeholder="Your Message" #postContent></textarea>
                        </md-input-container>
                        <button md-raised-button (click)="post(titleContent.value, postContent.value, newPostCategory.selected.value); titleContent.value =''; postContent.value ='';">
                            Post
                        </button>
                    </form>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-12 col-md-8 col-lg-8">
            <div class="post-search" style="display: flex">
                <md-select id="searchOptionType" class="radius"
                           placeholder="Search Type"
                           [(ngModel)]="selectedPostSearchValue">
                   <md-option *ngFor="let type of postSearchOptions" [value]="type.value">
                       {{ type.viewValue }}
                   </md-option>
               </md-select>
               <div *ngIf="selectedPostSearchValue !== 'searchOption_Distance'" class="searchInput">
                   <md-input-container>
                       <input mdInput #searchText placeholder="Search posts" />
                   </md-input-container>
               </div>
               <div *ngIf="selectedPostSearchValue === 'searchOption_Distance'">
                   <md-select class="radius" placeholder="Radius"
                                   *ngIf="selectedPostSearchValue === 'searchOption_Distance'"
                                   [(ngModel)]="selectedPostSearchRadius">
                               <md-option *ngFor="let rad of postRadiusSearch" [value]="rad.value">
                                   {{ rad.viewValue }}
                               </md-option>
                       </md-select>
               </div>
                <!-- <div>
                    <md-select class="radius" placeholder="Radius"
                                    *ngIf="selectedPostSearchValue === 'searchOption_Distance'"
                                    [(ngModel)]="selectedPostSearchRadius">
                                <md-option *ngFor="let rad of postRadiusSearch" [value]="rad.value" (click)="handlePostSearch(selectedPostSearchValue, '')">
                                    {{ rad.viewValue }}
                                </md-option>
                    </md-select>
                </div> -->
            </div>
            <div class="category-select-container">
                <div id="postButtonsArray" *ngFor="let postCatButton of postButtonsArray">
                    <div class="circle" id="{{postCatButton.id}}" (click)="setCategory(postCatButton)">
                        <i class="fa fa-{{postCatButton.iconType}} fa-2x" aria-hidden="true"></i>
                        <div class="category-text">{{ postCatButton.category }} </div>
                    </div>
                </div>
            </div>
            <button
                    class="searchBtn" md-raised-button
                    (click)="handlePostSearch(selectedPostSearchValue, '')">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            </button>
            <div *ngFor="let post of posts | async">
               <div class="post-top">
                   {{post.timestamp | date: 'EEEE M/d HH:mm'}}
               </div>
                <md-card color="primary">
                    <img md-card-image src="../../../assets/cat.png" style="width:20px;height:20px;"/>
                    <md-card-title>{{post.title}}</md-card-title>
                    <md-card-subtitle>{{post.author}}</md-card-subtitle>
                    <md-card-content>{{post.content}}</md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
