  
<h3>{{title}}</h3>
<br />
<div>
    <div style="display:inline-block; float:left; border-style: solid;
                                                border-width: thin;
                                                border-color: #FFFFFF; margin: 50px;" >
        <img />
        <p> tag </p>
        <h4> title </h4>
        <p> author </p>
    </div>  

    <div style="display:inline-block; float:left; border-style: solid;
                                                border-width: thin;
                                                border-color: #FFFFFF; margin: 50px;" >
        <img />
        <p> tag </p>
        <h4> title </h4>
        <p> author </p>
    </div>  

    <div style="display:inline-block; float:left; border-style: solid;
                                                border-width: thin;
                                                border-color: #FFFFFF; margin: 50px;" >
        <img />
        <p> tag </p>
        <h4> title </h4>
        <p> author </p>
    </div>  

    <div style="display:inline-block; float:left; border-style: solid;
                                                border-width: thin;
                                                border-color: #FFFFFF; margin: 50px;" >
        <img />
        <p> tag </p>
        <h4> title </h4>
        <p> author </p>
    </div>  
</div>